button 
{
  min-width: 3em;
  min-height: 3em;
  border-radius: 1.5em;
}

.red 
{
  background-color: red;
}

.blue 
{
  background-color: blue;
}

.yellow 
{
  background-color: yellow;
}
.orange
{
    background-color: #ffa500;
}
.green
{
    background-color: #008800;
}
.indigo
{
    background-color: #4b0082;
}
.violet
{
    background-color: #ee82ee;
}